
@media screen and (max-width: 768px) {
    #navigation-bar {
        display: none;
    }

    #mobile-header {
        display: flex;
    }

    #hamburger {
        display: block;
        right: 0px;
    }


    #home {
        flex-direction: column;
        padding: 20px;
        text-align: center;
        position: relative;
        top: 150px;
    }
    .home-content {
        max-width: 100%;
    }

    .home-content h1, .home-content h2 {
        font-size: 1.8rem;
    }

    .home-content p {
        font-size: 0.8rem;
    }

    .avatar {
        border: none;
        background: transparent;
        margin: -40px auto;
        left: 0;
        position: relative;
        bottom: 90px;
        overflow: hidden;
        justify-content: center;
        }

    .avatar-img {
        height: 170px;
    }

    .btn-box {
        top: 110px;
    }

    .home-footer {
        font-size: 0.8rem;
        justify-content: center;
    }



    

/*ABOUT ME */
.title {
    position: relative;
    top: 60px;
    font-size: 1.9rem;
}
.about-text {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-top: 1rem;
    position: relative;
    top: 50px;
}

.skills {
    font-size: 1.9rem;
    position: relative;
    top: 30px;
}

.front-end {
    position: relative;
    top: 37px;
}

.flex-list {
    position: relative;
    top: 30px;
}
.about-footer {
    font-size: 0.8rem;
    justify-content: center;
}


/* PROJECTS */ 
.projects-container {
    position: relative;
    top: 60px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.project-footer {
    font-size: 0.8rem;
    justify-content: center;
}

/* BLOG * /*/
.services-footer {
    font-size: 0.8rem;
    justify-content: center;
}


/* CONTACT */

.contact-title {
    font-size: 2.5rem;
    position: relative;
    top: 140px;
    left: 30px;
}

.contactform-box {
    flex-direction: column;
    gap: 15px;
}

.contactform-subtext {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 130px;
    left: 130px;
}

form {
    position: relative;
    top: 80px;
    left: 120px ;
}

.contactform-socials {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 100px;
    left: 220px;
}

.contact-footer {
    font-size: 0.8rem;
    position: relative;
    top: 120px;
    justify-content: center;
}
    
}




/* Tablet and Mobile view */
@media screen and (max-width:480px) {
    .menu a {
        font-size: 20px;
    }

   
    .home-content h1 {
        font-size: 1.4rem;
    }

    .home-content h2 {
        font-size: 1.2rem;
    }

    .home-content p {
        font-size: 0.6rem;
    }

    .btn-box a {
        font-size: 0.9rem;
    }

    .social-icons {
        display: flex;
        position: absolute;
        left: 800px;
    }

  

    .home-footer {
        font-size: 0.8rem;
    }

/*ABOUT */
    .about-text {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }


/*BLOG */ 
.blogs a {
    position: relative;
    left: 280px;
}

/* CONTACT */




}
